@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,300&display=swap');
/*

*/
* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #18082a;
  color: white;
}
.container{
  max-width: 1140px;
  margin: auto;
 
}

.title{
  font-size: 30px;
  padding: 30px;
  color: #742CC7;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.container-input {
  padding: 40px 20px;
  margin: auto;
  max-width: 600px;
}
.container-input input {
  border: 0;
  outline: none;
  border-radius: 20px;
  padding: 10px 7px;
  width: 100%;
}

.post-container {
 margin:0px 30px 100px 30px;
 
}
.post {
  background-color: #742CC7;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.id{
  width: 25px;
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BB82FB;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: -2%;

}
.post h2{
  font-size: 30px;
  margin-bottom: 20px;
}
.post p {
  padding: 0px 10px 30px 10px;
}



.loader{
  display: flex;
  position: fixed;
  left: 50%;
  bottom: 10px;
  opacity: 0;
}

.loader.view{
  opacity: 1;
}

.loader span {
  background-color: #742CC7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0px 6px;
  animation: bounce 0.5s ease-in infinite;
}

.loader span:nth-of-type(2) {
  animation-delay: 0.1s;
}

.loader span:nth-of-type(3) {
  animation-delay: 0.2s;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #481B7A; }
.My-Color-Theme-2-hex { color: #BB82FB; }
.My-Color-Theme-3-hex { color: #9237FA; }
.My-Color-Theme-4-hex { color: #5B407A; }
.My-Color-Theme-5-hex { color: #742CC7; } /*titulo

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(72, 27, 122, 1); }
.My-Color-Theme-2-rgba { color: rgba(187, 130, 251, 1); }
.My-Color-Theme-3-rgba { color: rgba(146, 55, 250, 1); }
.My-Color-Theme-4-rgba { color: rgba(91, 64, 122, 1); }
.My-Color-Theme-5-rgba { color: rgba(116, 44, 199, 1); }
